.item{
    margin-left: 75px;
    margin-right: 75px;
    font-family: Arial, Helvetica, sans-serif;

}
.cssButton
{
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
   
    
 
}
.menu
{
    background-color: rgb(223, 242, 243);
}
/* nav css */